[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "masscube"
version = "0.0.6"
authors = [
  { name="Huaxu Yu", email="yhxchem@outlook.com" },
]
maintainers = [
  { name="Huaxu Yu", email="yhxchem@outlook.com" },
]
description = "Accurate and fast data processing for metabolomics"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "numpy>=1.24",
    "pandas>=2.0",
    "pyteomics>=4.6",
    "scipy>=1.10.1",
    "tqdm>=4.65.0",
    "lxml>=4.9.2",
    "matplotlib",
    "ms_entropy>=1.1.1",
    "networkx",
    "scikit-learn"
]

[project.scripts]
untargeted-metabolomics = "masscube:untargeted_metabolomics_workflow"
build-sample-table = "masscube:generate_sample_table"

[project.urls]
"Homepage" = "https://github.com/huaxuyu/masscube"